# Node
node_modules/
dist/
uploads/

# Python
__pycache__/
*.pyc
venv/

# Windows Zone.Identifier files
*Zone.Identifier

offline-packages/
pakstream-offline-packages.iso
pakstream-verification-update.iso
pakstream-verification-update/
system-packages.tar.gz
